body {
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 20px 0 0 0;
}
footer {
  background: #efefef;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

#hvaLogo{
    width: 35%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-inside{
    margin-left:5%;
    margin-right:5%;
}

#description{
    margin-top:2%;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.footerItem{
    color: black;
}

#navBar{
  width: 100%;
  background-color: #efefef;
  list-style: none;
  padding: 1%;
}

.navItem{
  display: inline;
  padding: 0.5%;
}

#downloadLink{
    text-decoration: none;
}

#downloadLink:hover{
    text-shadow: 2px 3px 5px black;
}

 /* unvisited link */
#downloadLink:link {
  color: red;
}

/* visited link */
#downloadLink:visited {
  color: green;
}

/* selected link */
#downloadLink:active {
  color: blue;
} 