body{
	font-family:Zilla Slab,sans-serif;
	line-height:1.25rem;
}
h1, h2{
	text-align:center;
	color:#262626;
}
h2{
	text-decoration:underline;
	clear:both;
	padding-top:0.3rem;
}
#grid-floats h3{
	color:#ff5252;
	text-shadow: 1px 2px 1px #ff5252;
}
#grid-flex h3{
	color:#34a853;
	text-shadow: 1px 2px 1px #34a853;
}
#grid-floats .grid-item {
	float:left;
	width:25%;
	height:350.34px;
	box-sizing: border-box;
	border:2px solid black;
	margin-top:1px;
	padding:0.32rem;
}
#grid-floats .grid-item:nth-child(1){
	width:50%;
}
#grid-floats img{
	position:relative;
	left:25%;
	width:25%;
}
@media screen and (max-width: 767px){
	#grid-floats .grid-item{
		width:33.3%;
	}
	#grid-floats .grid-item:nth-child(n+1):nth-child(-n+2){
		width:50%;
	}
}
@media screen and (max-width: 479px){
	#grid-floats .grid-item{
		width:50%;
	}
	#grid-floats .grid-item:nth-child(n+1):nth-child(-n+1){
		width:100%;
	}
	<!--Breaking line-->
}
#grid-flex{
	display:flex;
	flex-wrap: wrap;
}
#grid-flex img{
	width:25%;
}
#grid-flex .grid-item{
	width:25%;
	box-sizing: border-box;
	border:2px solid black;
	margin-top:1px;
	padding:0.32rem;
}
#grid-flex .grid-item:nth-child(1){
	width:50%;
}
@media screen and (max-width: 767px){
	#grid-flex .grid-item{
		width:33.3%;
	}
	#grid-flex .grid-item:nth-child(n+1):nth-child(-n+2){
		width:50%;
	}
}
@media screen and (max-width: 479px){
	#grid-flex .grid-item{
		width:50%;
	}
	#grid-flex .grid-item:nth-child(n+1):nth-child(-n+1){
		width:100%;
	}
}
